/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* @font-face {
    font-family: 'Gobold';
    src: url('../fonts/gobold/Gobold Regular.otf');
} */

@font-face {
    font-family: 'Gobold Regular';
    /* font-style: normal;
    font-weight: normal; */
    /* src: url('../fonts/gobold\ web\ font/') format('woff'); */
    src: url('../fonts/gobold web font/Gobold Regular.woff') format('woff');
    }




/* ......... */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    /* background-color: #020202; */
    scroll-behavior: smooth;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

/* Welcome View */

    .container_firstView {
        display: flex;
        flex-direction: column;
        /* background: radial-gradient(35.46% 35.46% at 50% 50%, #000000 0%, #010101 100%); */
        /* overflow: hidden; */
    }

    .first-view {
        height: 140dvh;
        width: 100%;
        
        background-color: #010001;
        background-image: url('../images/Group 233 (2).png') ;
        background-repeat: no-repeat;
        background-size: cover ;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        
    }

    /* Header set up */

    .header {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        gap: 5rem;
        font-family: 'Poppins', sans-serif;
    }
    .logo {
        display: flex;
        margin-left: 4rem;
    }

/* Navigation set up */

    .nav {
        margin-bottom: 15px;
    }

    .nav ul{
        display: flex;
        gap: 2rem;
        list-style: none;
        align-items: center;
        justify-content: center;
    }

    .nav ul li{
        font-size: 16px;
        font-weight: 500;

    }

    .nav ul .current .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .nav ul .current .active a{
        margin: 19px 0 15px 0;
        color: #9EC0E0;

    }

    .nav ul a:hover{
        color: #9EC0E0;
        transition: 200ms linear;

    }

    .nav ul .current .active a:hover{
    color: #8fb5d8;

    }

    .nav ul .current .active .indicator{
        height: 2px;
        width: 35px;
        background: #9EC0E0;
    }

/* Welcome View content */

    .first-view .welcome_view_content {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 80dvw;
        height: 65dvh;
        gap: 4rem;

    }

    .welcome_view_content .text {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        gap: 20px;
    }

    .welcome_view_content .text .heading-text {
        font-family: 'Gobold';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 124px;
        /* or 156% */
        
        text-align: center;
        
        color: #FFFFFF;
    }

    .welcome_view_content .text .sub-heading-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 46px;
        /* or 142% */
        
        text-align: center;
        
        color: rgba(221, 221, 221, 0.8);
        
    }

    .welcome_view_content button {
        width: 350px;
        height: 86px;
        
        background: linear-gradient(45deg, rgba(15, 23, 31, 0.07) 5.65%, rgba(95, 133, 177, 0.1715) 94.35%);
        backdrop-filter: blur(9px);
    }


